/* Style Background */
body{
    font-family: $font;
    background-image: url(../media/back4.webp);
    background-color: $background;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
/* Responsive Background */
@media (max-width: 768px){
    body{
        background-image: url(../media/backsmol.webp);
        background-size: cover;
    }
}