/* Style header */ 
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .navbar{
        .navbar-brand{
            margin-right: 0%;
        }
        .navbar-toggler{
            border: none;
            padding: 0;
            border-radius: 0;
            .navbar-toggler-icon{
                width: 2em;
                height: 2em;
            }
        }
        .navbar-collapse{
            .navbar-nav{
                background-color: $primary;
                padding: map-get($font-size, text-medium);
                .mBtn{
                    transition: all 0.4s linear;
                    &:hover{
                        background-color: $background-trans;
                        color: $text-color;
                    }
                    .nav-link{
                        color: $text-color;
                        font-size: map-get($font-size, text-large);
                    }
                }
            }
        }
    }
}
/* Responsive Header */
@media (max-width: 768px){
    header{
        font-size: map-get($font-size, text-medium);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        .navbar{
            .navbar-brand{
                img{
                    max-height: 150px;
                    width: auto;
                }
            }
        }
    }
}