/* Style Nosotros */ 
.main1{
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "section .";
    margin-top: 5%;
    margin-bottom: 5%;
    .section{
        font-size: map-get($font-size, text-medium);
        font-weight: 600;
        background-color: $background-trans;
        padding: 2%;
        @include flex-section(column, center, "section");
        &__title{
            @include title;
        }
        &__text{
            @include text;
        }
    }
}
/* Responsive  Nosotros */
@media (max-width: 768px){
    .main1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 5%;
    }
}