/* Colors */
$text-color: #090302;
$primary: #735D78;
$background: #DEDDCF;
$background-trans: #deddcf80;
/* Fuente */
$font: 'Montserrat';
/* Font Sizes */
$text-large: 1.125rem;
$text-medium: 1rem;
$text-small: 0.8rem;