/* Variables */
// Colors
$text-color: #090302;
$primary: #735D78;
$background: #DEDDCF;
$background-trans: #deddcf80;
// Font
$font: 'Montserrat';
// Font Sizes
$font-size:(
    text-large: 1.25em,
    text-medium: 1em,
    text-small: 0.9em,
    text-xs: 0.8em
)
